::root {
    --main-bg-color: #0e131d;
    --main-font-color: #a19e98;
    --main-font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--main-font-family);
    padding: 20px;
  }

  .content-grid {
    display: flex;
    grid-row: span;
  }
  
  #calendar {
    display: grid;
    left: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    max-width: 90%;
    min-height: 450px;
    margin: 0 auto;
    color: #fff;
    padding-top: 50px;
  }

  .weekday:nth-child(7) {
    grid-column: span 1;
  }

  .weekday {
    padding: 10px;
    text-align: center;
    background-color: #0e131d; /* Change the weekday color to match the home page */
    color: #fff;
  }
  
  .day {
    padding: 10px;
    text-align: center;
    background-color: #555;
  }
  
  .day.available {
    background-color: #36744f;
  }
  
  .day.booked {
    background-color: #e74c3c;
  }

  h2 {
    text-align: left; /* Align the month to the left */
    color: #fff;
}

  .back-arrow {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #333;
    border-top: solid transparent;
    border-right: 50px solid #333;
    z-index: 100;
  }



  .signin-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.signin-form form {
    display: flex;
    flex-direction: column;
}

.signin-form label {
    margin-bottom: 5px;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signin-form input[type="submit"] {
    padding: 5px 10px;
    background-color: #36744f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}











.signup-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    margin-bottom: 5px;
}

.signup-form input[type="email"],
.signup-form input[type="password"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signup-form input[type="submit"] {
    padding: 5px 10px;
    background-color: #36744f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  